*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label{
  font-size: 20px;
}


.container{
  height: 100%;
  width: 100%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container{
margin-top: 100px;
  background-color: #FFF;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.registration-container > h1{
  margin-bottom: 20px;
}

.registration-container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.registraion-container .registration-div{
  display: flex;
  flex-direction: column;
}

.registration-container .input-field{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.registration-container .input-field::placeholder{
  font-size: 12px;
  font-style: italic;
}

.btn{
  background-color: purple;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.role-btn1, .role-btn2{
  padding:10px; 
  width:140px;
  height: 45px;
  margin:5px;
  font-size: 16px;
  border-radius:20px;
  background-color:rgb(178, 12, 234);
  border:none;
  color: white;
}
.choice{
  margin:auto;
}
.role-btn1.selected {
  background-color: #4CAF50; /* Change to your preferred color */
  color: white;
}
.role-btn2.selected {
  background-color: #4CAF50; /* Change to your preferred color */
  color: white;
}